<!DOCTYPE html>
<html>
    <head>
        <title>banannaaaa</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body>
        <header class="header">
            <h5 class="header-title">drecodeam</h5>
            <nav class="header-nav">
                <li class="header-nav-item">about</li>
                <li class="header-nav-item">journal</li>
                <li class="header-nav-item">github</li>
            </nav>
        </header>
