@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Muli);

$type-headings : 'Fredoka One', sans-serif;
$type-para : 'Muli', serif;

h1,
h2,
h3,
h4,
h5 {
    font-family: $type-headings;
    font-weight: 400;
    color: #3c3c3c;
}

h1 { font-size: scale( 4 ); }
h2 { font-size: scale( 3 ); }
h3 { font-size: scale( 2 ); }

body {
    font-family: $type-para;
    font-size: scale( 1 );
    line-height: 1.5;
    color: lighten( #3c3c3c, 10% );
}

%type-s {
    font-size: scale( 0 );
    font-family: scale( 2, unitless );
}

li {
    padding: 0.5em 0 0 0 ;
}

a {
    border-bottom: 1px solid lighten( #3c3c3c, 50% );
    padding-bottom: 0.25em;
    text-decoration: none;
    color: inherit;
    color: #3c3c3c;
    // font-weight: 700;
    &:hover {
        color: #EC3549;
    }
}

